<template>
    <v-card>
        <v-toolbar color="blue-grey darken-4" dark>
            <v-toolbar-title>Domain Aliases</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
              <v-list-tile v-for="(alias) in Object.keys(getDomainAliases)" :key="alias">
                <v-list-tile-action>
                    <v-checkbox :value="alias" v-model="selected"></v-checkbox>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title >{{alias.replace("_", ".")}}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-text-field prepend-icon="domain" v-model="newDomain" label="domain"></v-text-field>
              <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="red darken-3" depressed dark @click="removeDomain()" v-if="selected.length>0">Remove</v-btn>
                  <v-btn color="teal darken-3" depressed dark @click="addDomain()" >Add</v-btn>
              </v-card-actions>
        </v-card-text>
    </v-card>
</template>

<script>
const fb = require('@/firebaseConfig.js')
import firebase from 'firebase'
import { mapActions, mapGetters } from 'vuex'
export default {
    data() {
        return {
            selected:[],
            newDomain: '',
        }
    },
    computed:{
        ...mapGetters(["getDomainAliases"]),
    },
    methods:{
        ...mapActions(["fetchDomainAliases"]),
        removeDomain(){
            var project = this.$store.state.websiteDetails.project;
            var alias = this.selected
            var docRef = fb.aliasesCollection.doc(project);
            alias.forEach(value => {
                value.replace("_", ".");
                docRef.update({
                    [value]: firebase.firestore.FieldValue.delete()
                })
            })
            this.newDomain = ''
            this.selected = []
        },
        addDomain(){
            var vm = this;
            var project = this.$store.state.websiteDetails.project;
            var docRef = fb.aliasesCollection.doc(project);
            var newAlias = this.newDomain.replace(".", "_");
            docRef.set({
                [newAlias]: true
            },{ merge: true })
            .then(function() {
                vm.newDomain = ''
            })
        }
    },
    mounted(){
        this.fetchDomainAliases(this.$route.params.project);
    }
}
</script>

<style scoped>

</style>