<template>
   <v-flex :class="colClasses">
      <div class="app-card" :class="customClasses">
         <v-card-text>
            <div class="layout justify-space-between pa-3">
               <div class="align-item-center">
                  <h1 class="ma-0">{{phone}}</h1>
                  <h3 class="mb-1"></h3>
               </div>
            </div>
         </v-card-text>
        <slot></slot>
      </div>
   </v-flex>
</template>
<script>
export default {
  props: ["phone", "email", "colClasses", "customClasses", "icon", 'title'],

};
</script>