<template>
    <v-card>
        <v-toolbar color="blue-grey darken-4" dark>
            <v-toolbar-title>E-mails</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
              <v-list-tile v-for="(email) in Object.keys(getWebsiteEmails)" :key="email">
                <v-list-tile-action>
                    <v-checkbox :value="email" v-model="selected"></v-checkbox>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title >{{email}}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
                <v-text-field
                    label="Email address"
                    :suffix="'@'+this.$store.state.websiteDetails.website"
                    v-model="newEmail"
                    >
                </v-text-field>
              <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="red darken-3" depressed dark @click="removeDomain()" v-if="selected.length>0">Remove</v-btn>
                  <v-btn color="teal darken-3" depressed dark @click="addDomain()" >Add</v-btn>
              </v-card-actions>
        </v-card-text>
    </v-card>
</template>

<script>
const fb = require('@/firebaseConfig.js')
import firebase from 'firebase'
import { mapActions, mapGetters } from 'vuex'
export default {
    data() {
        return {
            selected:[],
            newEmail: '',
        }
    },
    computed:{
        ...mapGetters(["getWebsiteEmails"]),
    },
    methods:{
        ...mapActions(["fetchWebsiteEmails"]),
        removeDomain(){
            // var project = this.$store.state.websiteDetails.project;
            // var alias = this.selected
            // var docRef = fb.aliasesCollection.doc(project);
            // alias.forEach(value => {
            //     value.replace("_", ".");
            //     docRef.update({
            //         [value]: firebase.firestore.FieldValue.delete()
            //     })
            // })
            // this.newDomain = ''
            // this.selected = []
        },
        addDomain(){
            var vm = this;
            var project = this.$store.state.websiteDetails.project;
            console.log(project);
            var docRef = fb.emailsCollection.doc(project);
            var newAlias = this.newEmail.replace(".", "_");
            docRef.set({
                [newAlias]: true
            },{ merge: true })
            .then(function() {
                vm.newEmail = ''
            })
        }
    },
    mounted(){
        // this.fetchWebsiteEmails(this.$route.params.project);
    }
}
</script>

<style scoped>

</style>