.app-card {
    background-color: #FFF;
    margin-bottom: 0rem;
    @include box-shadow(0 1px 15px 1px rgba(69, 65, 78, 0.08));
    @include transition(all .4s ease-in-out 0s);
    @include border-radius(0px);
    position: relative;
    height: 100%;
    overflow: hidden;
}