<template>
    <v-content>
        <website-table/>
    </v-content>
</template>

<script>
import websiteTable from '@/components/websites/websiteTable'

export default {
    name: 'websitesOverview',
    components:{
        'website-table' : websiteTable,
    },
    mounted(){
    }

}
</script>

<style scoped>

</style>
