<template>
        <v-layout>
            <active-card colClasses="xl4 lg4 md4 sm6 xs12" customClasses="green white--text" title="active websites" :value="getWebsiteCount.active" icon="done"/>
            <active-card colClasses="xl4 lg4 md4 sm6 xs12" customClasses="red white--text" title="inactive websites" :value="getWebsiteCount.inactive" icon=""/>
            </v-layout>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
    mounted(){
        this.$nextTick(function () {
        this.fetchWebsiteCount();
        })
    },
    computed: {
        ...mapGetters(["getWebsiteCount"])
    },
    methods: {
        ...mapActions(["fetchWebsiteCount"]),
    },
}
</script>

<style scoped>

</style>