<template>
  <v-content>
    <v-container grid-list-lg text-xs-center>
      <v-form @submit.prevent>
      <v-layout row wrap>

        <!--HEADER CARD-->
        <v-flex xs12 md12>
          <v-card class="mb-3">
            <v-card-media src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg" height="300px"></v-card-media>
            <v-card-actions>
              <v-spacer></v-spacer>
                <v-menu offset-y>
                  <v-icon slot="activator">
                    settings
                  </v-icon>
                  <v-list>
                    <v-list-tile @click="btnState('edit')">
                      <v-list-tile-title>Edit Credentials</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile @click="addCredentials()">
                      <v-list-tile-title>Add credentials</v-list-tile-title>
                    </v-list-tile>
                  </v-list>
                </v-menu>
                <br>
            </v-card-actions>               
            <v-card-title primary-title>               
              <v-layout row wrap align-self-center>
                <v-flex >
                  <p class="title mb-0">{{getWebsiteDetails.project}}</p>
                  <p class="grey--text">Project</p>
                </v-flex>
                <v-flex>
                  <p class="title mb-0">{{getWebsiteDetails.website}}</p>
                  <p class="grey--text">Website</p>
                </v-flex>
                <v-flex>
                  <template v-if="getWebsiteDetails.status == false">
                    <p class="title mb-0 red--text">Inactive</p>
                  </template>
                  <template v-if="getWebsiteDetails.status == true">
                    <p class="title mb-0 green--text">Active</p>
                  </template>
                  <p class="grey--text">Status</p>
                  
                </v-flex>
              </v-layout>
            </v-card-title>
          </v-card>
        </v-flex>
        
        <v-flex xs12 md4 v-if="!isDisabled">
              <v-card  class="mb-3">
                <v-card-text>
                    <v-text-field prepend-icon="title" v-model="getWebsiteDetails.project" label="project name" ref="firstfield"></v-text-field>
                    <v-autocomplete v-model="getWebsiteDetails.builder" :items="Object.keys(clients)" chips label="Builder(s)" item-text="name" item-value="name" multiple prepend-icon="business">
                    <template slot="selection" slot-scope="data">
                      <v-chip :selected="data.selected" close class="chip--select-multi" @input="data.parent.selectItem(data.item)">
                        {{ data.item }}
                      </v-chip>
                    </template>
                    <template slot="item" slot-scope="data">
                      <template>
                        <v-list-tile-content>
                          <v-list-tile-title v-html="data.item"></v-list-tile-title>
                        </v-list-tile-content>
                      </template>
                    </template>
                    </v-autocomplete>
                    <v-text-field prepend-icon="web_asset" name="text" label="Website URL" type="text" v-model="getWebsiteDetails.website"></v-text-field>
                    <v-switch color="green" v-model="getWebsiteDetails.status" :readonly="isDisabled" label="Active"></v-switch>
                    <v-btn color="teal darken-3" depressed dark @click="btnState('save')" v-if="editForm">Save</v-btn>
                    <v-btn color="red darken-3" depressed dark @click="btnState('cancel')" v-if="!isDisabled">Cancel</v-btn>

                </v-card-text>
              </v-card>
        
        </v-flex>

            
        <v-flex xs12 md4>
          <v-card class="mb-3">
          <v-toolbar color="blue-grey darken-4" dark>
              <v-toolbar-title>Credentials</v-toolbar-title>
            </v-toolbar>
            
            <v-card-text>
              <v-subheader>FTP</v-subheader>
                  <v-text-field prepend-icon="domain" v-model="getWebsiteDetails.domain" :readonly="isDisabled" label="domain name"></v-text-field>
                  <v-text-field prepend-icon="person" v-model="getWebsiteDetails.username" :readonly="isDisabled" label="username"></v-text-field>
                  <v-text-field prepend-icon="lock" v-model="getWebsiteDetails.password" :readonly="isDisabled" label="password"></v-text-field>
                  <v-card-actions>
                  <v-spacer></v-spacer>
                  </v-card-actions>
            </v-card-text>
          </v-card>
        </v-flex>


        <v-flex xs12 md4>
            <aliases-card/>
        </v-flex>

        <v-flex xs12 md4>
            <emails-card/>
        </v-flex>

        <v-flex xs12 md4>
          <v-card>
            <v-toolbar color="blue-grey darken-4" dark>
              <v-toolbar-title>Registrants</v-toolbar-title>
            </v-toolbar>
              <v-card-text>
              </v-card-text>
            <bar-chart :chartData="chartdata"/>
            </v-card>
        </v-flex>


      </v-layout>
      </v-form>
    </v-container>
  </v-content>
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'
import barChart from '@/components/CustomComponents/barChart'
import aliasesCard from '@/components/CustomComponents/aliasesCard'
import emailsCard from '@/components/CustomComponents/emailsCard'

const fb = require('@/firebaseConfig.js')
    export default {
        props:['project'],
        components:{
          barChart,
          aliasesCard,
          emailsCard
        },
        data() {
            return {
              ratingLabels: ['ancur', 'jelek', 'pas', 'oke', 'mantab'],
              ratingFilter: [1,2,3,4,5],
              isDisabled: true,
              editForm: false,
              setAliases: false,
              editedItem: {
                project: '',
                builder: [],
                website: '',
                domain: '',
                username: '',
                password: '',
                status: true,
              }
            }
        },
        computed: {
            ...mapGetters(["getWebsiteDetails"]),
            ...mapState(["clients"]),
            chartdata () {
              return {
                labels: this.ratingLabels,
                datasets: [
                  {
                    label: 'New Registrants',
                    backgroundColor: '#FF6384',
                    // data: this.$store.state.accounts
                    data: [11,21,31,41,51]
                  },
                ]
              }
            },
        },
        methods: {
            ...mapActions(["fetchWebsiteDetails"]),
            btnState(state) {
                var status;
                state == 'edit' ? status = true : status = false;
                state == 'cancel' ?  status = false : state = false;
                this.editForm = status
                this.isDisabled = !status
                if(status){
                    setTimeout(() => {
                        this.$refs.firstfield.focus();
                    }, 250);
                }
                if(!status){
                    fb.websitesCollection.doc(this.editedItem.project).update({
                        builder: this.editedItem.builder,
                        project: this.editedItem.project,
                        website: this.editedItem.website,
                        domain: this.editedItem.domain,
                        username: this.editedItem.username,
                        password: this.editedItem.password,
                        status: this.editedItem.status
                    });
                }
            },
            addCredentials(){
              console.log('trigger');
            }
        },
        created(){
            this.fetchWebsiteDetails(this.$route.params.project);
            this.editedItem = this.$store.state.websiteDetails;
        }
    }
</script>

<style scoped>
.v-card__title--primary {
    padding-top: 0;
}
</style>