<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-toolbar flat color="white">
          <v-toolbar-title>Websites</v-toolbar-title>
          <v-divider class="mx-2" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-text-field v-model="search" append-icon="search" label="Search" hide-details></v-text-field>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="700px">
            <v-btn slot="activator" color="primary" dark class="mb-2">Add Website</v-btn>
            <v-card>
              <v-card-title>
                <span class="headline">Add Website</span>
              </v-card-title>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout wrap>
                    <v-flex xs12>
                      <v-form @submit.prevent>
                        <v-text-field prepend-icon="title" v-model="editedItem.project" label="project name"></v-text-field>
                        <v-autocomplete
                          v-model="friends"
                          :disabled="isUpdating"
                          :items="Object.keys(clients)"
                          chips
                          label="Builder(s)"
                          item-text="name"
                          item-value="name"
                          multiple
                          prepend-icon="business"
                        >
                        <template slot="selection" slot-scope="data">
                          <v-chip
                            :selected="data.selected"
                            close
                            class="chip--select-multi"
                            @input="data.parent.selectItem(data.item)"
                          >
                            {{ data.item }}
                          </v-chip>
                        </template>
                        <template slot="item" slot-scope="data">
                          <template>
                            <v-list-tile-content>
                              <v-list-tile-title v-html="data.item"></v-list-tile-title>
                            </v-list-tile-content>
                          </template>
                        </template>
                        </v-autocomplete>
                        <v-text-field prepend-icon="web_asset" name="text" label="Website URL" type="text" v-model="editedItem.website"></v-text-field>
                        <br>
                        <v-subheader>Domain Credentials</v-subheader>
                        <v-text-field prepend-icon="domain" v-model="editedItem.domain" label="domain name"></v-text-field>
                        <v-text-field prepend-icon="person" v-model="editedItem.username" label="username"></v-text-field>
                        <v-text-field prepend-icon="lock" v-model="editedItem.password" label="password"></v-text-field>
                        <v-switch label="Active" v-model="editedItem.status" color="green"></v-switch>
                      </v-form>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red" flat @click="close">Cancel</v-btn>
                <v-btn color="teal darken-3" flat @click="addWebsite">Create</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
        <v-data-table :items="Object.values(websites)" :headers="headers" :search="search" class="elevation-1" :rows-per-page-items="[15, 25]">
          <template slot="items" slot-scope="props">
            <tr>
              <td class="text-xs-left">
                  <router-link :to="{path:`/websites/${props.item.project}`}">{{props.item.project}}<br></router-link>
              </td>
              <td class="text-xs-left">
                <router-link :to="{path:`/clients/${builder}`}" v-for="(builder,i) in props.item.builder" :key="i">{{builder}}<br></router-link>
              </td>
              <td class="">
                <template v-if="props.item.status == true">
                  <v-chip color="green" text-color="white">Active</v-chip>
                </template>
                <template v-else>
                  <v-chip color="red" text-color="white">Inactive</v-chip>
                </template>
              </td>
              <td class="">
                <v-menu bottom left>
                  <v-btn slot="activator" icon>
                    <v-icon>more_vert</v-icon>
                  </v-btn>
                  <v-list>
                    <v-list-tile>
                      <v-list-tile-title @click="deleteItem(props.item.name)">
                        <v-icon small>delete</v-icon>
                        Delete
                      </v-list-tile-title>
                    </v-list-tile>
                  </v-list>

                </v-menu>
              </td>
            </tr>
          </template>
          <v-alert slot="no-results" :value="true" color="error" icon="warning">
            Your search for "{{ search }}" found no results.
          </v-alert>
        </v-data-table>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import {mapState, mapActions} from 'vuex'
  import {firestore} from 'firebase/firestore'
  const fb = require('@/firebaseConfig.js')
  export default {
    name: 'addClient',
    props: ['clientwebsiteoverview'],
    data() {

      return {
        autoUpdate: true,
        friends: [],
        isUpdating: false,
        dialog: false,
        model: null,
        editedIndex: -1,
        search: '',
        domainalias: '',
        editedItem: {
          project: '',
          builder: [],
          website: '',
          domain: '',
          username: '',
          password: 'Guide1ine&_AdDz',
          status: true,
        },
        defaultItem: {
          project: '',
          builder: [],
          website: '',
          domain: '',
          username: '',
          password: 'Guide1ine&_AdDz',
          status: true,
        },
        headers: [
          { text: 'Websites', align: 'left', sortable: true, value: 'website'},
          { text: 'Builder(s)', sortable: true, value: 'builder'},
          { text: 'Status', sortable: true, value: 'status'},
          { text: 'Actions', align: 'left', sortable: false, value: 'actions'}
        ],
      }
    },
    computed: {
      ...mapState(["websites", "clients", "aliases"]),
    },
    watch: {
      dialog(val) {
        val || this.close()
      },
      isUpdating (val) {
        if (val) {
          setTimeout(() => (this.isUpdating = false), 3000)
        }
      }
    },
    methods: {
      ...mapActions(["fetchWebsiteCount"]),
      editItem(item) {
        this.editedIndex = this.websites[item.project];
        this.editedItem = Object.assign({}, item)
        // this.friends.push(this.editedItem.builder);
        this.dialog = true
        this.friends = this.editedItem.builder;
      },
      deleteItem(id) {
        confirm('Are you sure you want to delete this client?') && fb.websitesCollection.doc(id).delete();
      },
      close() {
        this.dialog = false
        this.friends = [];
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
            this.editedIndex = -1
            this.clearForm();
        }, 300)
      },
      clearForm() {
        this.friends = [];
        this.editedItem.builder = '';
        this.editedItem.website = '';
        this.editedItem.project = '';
        this.editedItem.domain = '',
        this.editedItem.username = '',
        this.editedItem.password = 'Guide1ine&_AdDz',
        this.editedItem.status = true
      },
      saveWebsite: function () {
        // let clientId = this.editedItem.id
        // const counterRef = fb.countersCollection.doc('Websites');
        // counterRef.get()
        //   .then(documentSnapshot => {
        //     const currentActiveCount = documentSnapshot.exists ? documentSnapshot.data().active : 0
        //     const currentInactiveCount = documentSnapshot.exists ? documentSnapshot.data().inactive : 0
        //     if (this.editedItem.status == false) {
        //       counterRef.set({
        //           active: Number(currentActiveCount) - 1,
        //           inactive: Number(currentInactiveCount) + 1
        //         })
        //         .then(() => {
        //           this.fetchWebsiteCount();
        //         })
        //     }
        //   })
        // console.log(this.editedItem.builder);
        fb.websitesCollection.doc(this.editedItem.project).update({
          // builder: this.editedItem.builder,
          builder: this.friends,
          project: this.editedItem.project,
          website: this.editedItem.website,
          domain: this.editedItem.domain,
          username: this.editedItem.username,
          password: this.editedItem.password,
          status: this.editedItem.status
        }).then(state => {
          this.dialog = false;
          // var builders = this.editedItem.builder;
          // builders.forEach(buildername =>{
          //   fb.clientsCollection.doc(buildername).get().then(documentSnapshot =>{
          //                 const currentActiveCount = documentSnapshot.data().websiteCount.active
          //   const currentInactiveCount = documentSnapshot.data().websiteCount.inactive
          //     if(this.editedItem.status === false){
          //       console.log('false');
          //     }else{
          //       console.log('true');

          //     }
          //   });
          // })
        })
      },
      addWebsite: function () {
        fb.websitesCollection.doc(this.editedItem.project).set({
          createdOn: new Date(),
          builder: this.friends,
          project: this.editedItem.project,
          // builder: this.editedItem.builder,
          website: this.editedItem.website,
          domain: this.editedItem.domain,
          username: this.editedItem.username,
          password: this.editedItem.password,
          status: this.editedItem.status
        }).then(state => {
          this.dialog = false;
          this.clearForm();
        }).catch(err => {
          console.log(err)
        })
      },
      // addDomainAlias(websiteId, aliasName){
      //     var aliasesRef = fb.websitesCollection.doc(websiteId).collection('aliases');
      //     aliasesRef.add({
      //         aliasName
      //     }).then(ref =>{
      //         this.domainalias = ''
      //     })
      // }
    },
    mounted(){

    }
  }

</script>

<style scoped>


</style>
