<template>
      <v-content>
      <v-container grid-list-xl>
      </v-container>
      
  <website-table clientwebsiteoverview="lol"/>
    </v-content>
</template>

<script>
  import websiteTable from '@/components/websites/websiteTable'
  export default {
    components: {
      'website-table': websiteTable
    },
    mounted(){
    }
  }

</script>

<style scoped>


</style>
