<template>
    <v-layout>
        <active-card colClasses="xl4 lg4 md4 sm6 xs12" customClasses="green white--text" title="active websites" :value="getClientCount.active" icon="done"/>
        <active-card colClasses="xl4 lg4 md4 sm6 xs12" customClasses="red white--text" title="inactive websites" :value="getClientCount.inactive" icon=""/>
    </v-layout>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {

    created(){
        this.fetchClientCount();
    },
    computed: {
        ...mapGetters(["getClientCount"])
    },
    methods: {
        ...mapActions(["fetchClientCount"]),
    },
}
</script>

<style scoped>

</style>