<template>
    <v-container>
      <v-layout>
        <v-flex>
            <v-toolbar flat color="white">
                <v-toolbar-title>Clients</v-toolbar-title>
                <v-divider class="mx-2" inset vertical></v-divider>
                    <v-spacer></v-spacer>
                    <v-text-field v-model="search" append-icon="search" label="Search" hide-details></v-text-field>
                    <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="768px">
                    <v-btn slot="activator" color="primary" dark class="mb-2">New Client</v-btn>
                    <v-card>
                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>

                    <v-card-text>
                        <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12>
                            <v-form @submit.prevent>
                                <v-subheader>Client Details</v-subheader>
                                <v-text-field prepend-icon="notes" name="text" label="Client" type="text" v-model="editedItem.name"></v-text-field>
                                <v-text-field prepend-icon="phone" return-masked-value label="Phone" v-model="editedItem.phone" mask="phone"></v-text-field>
                                <vuetify-google-autocomplete 
                                    id="map" 
                                    ref="address" 
                                    prepend-icon="map" 
                                    label="location" 
                                    @placechanged="getAddressData" 
                                    country="ca" 
                                    clearable
                                    v-model="editedItem.location"
                                    types="establishment">
                                </vuetify-google-autocomplete>
                                <v-text-field prepend-icon="web_asset" name="text" label="Website" type="text" v-model="editedItem.website"></v-text-field>
                                <v-subheader>Contact Person</v-subheader>
                                <v-text-field prepend-icon="person" name="text" label="Contact Person" type="text" v-model="editedItem.contactperson"></v-text-field>
                                <v-text-field prepend-icon="phone" name="text" label="Phone Number"  mask="phone" return-masked-value v-model="editedItem.contactphone"></v-text-field>
                                <v-text-field prepend-icon="email" name="text" label="Email address" type="email" v-model="editedItem.contactemail"></v-text-field>

                            </v-form>
                            </v-flex>
                        </v-layout>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="red" flat @click="close">Cancel</v-btn>
                        <v-btn color="teal darken-3" flat @click="createClient" v-if="formStatus=='Create'">Create</v-btn>
                        <v-btn color="teal darken-3" flat @click="saveClient" v-if="formStatus=='Save'">Save</v-btn>
                    </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-toolbar>
            <v-data-table hide-actions :items="Object.values(clients)" :headers="headers" :search="search" class="elevation-1" id="clientstable">
                <template slot="items" slot-scope="props">
                    <tr>
                        <td class="text-xs-left"><router-link :to="{path:`/clients/${props.item.name}`}">{{ props.item.name }}</router-link></td>
                        <td class="text-xs-left">{{ props.item.website }}</td>
                        <td class="justify-center layout px-0">
                            <v-menu bottom left>
                                <v-btn slot="activator" icon>
                                <v-icon>more_vert</v-icon>
                                </v-btn>
                                <v-list>
                                <v-list-tile>
                                    <v-list-tile-title @click="editItem(props.item)">
                                        <v-icon small class="mr-2" >edit</v-icon>
                                        Edit
                                    </v-list-tile-title>
                                </v-list-tile>
                                <v-list-tile>
                                    <v-list-tile-title @click="deleteItem(props.item.name)">
                                            <v-icon small>delete</v-icon>
                                        Delete
                                    </v-list-tile-title>
                                </v-list-tile>
                                </v-list>
                            </v-menu>
                        </td>
                    </tr>
                </template>
                <template slot="expand">
                    <v-card flat>
                        <v-card-text>      
                            <v-subheader>Domain Credentials</v-subheader>
                            
                        </v-card-text>
                    </v-card>
                </template>      
                <v-alert slot="no-results" :value="true" color="error" icon="warning">
                    Your search for "{{ search }}" found no results.
                </v-alert>
            </v-data-table>
        </v-flex>
      </v-layout>
    </v-container>
</template>

<script>
import { mapState } from 'vuex';
import firebase from 'firebase';
const fb = require('@/firebaseConfig.js');
export default {
    name: 'addClient',
    data() {
        return {
            address: '',
            dialog: false,
            timeout: 5000,
            editedIndex: -1,
            search: '',
            editedItem: {
                name: '',
                website: '',
                phone: '',
                location: null,
                contactperson: '',
                contactphone: '',
                contactemail: ''
            },
            defaultItem: {
                name: '',
                website: '',
                phone: '',
                location: null,
                contactperson: '',
                contactphone: '',
                contactemail: ''
            },  
            headers: [
                { text: 'Clients',align: 'left',sortable: true, value: 'name'},
                { text: 'Website', sortable: false },
                { text: 'Actions',align: 'center', sortable: false }
            ],        
        }
    },
    computed: {
        ...mapState(["clients"]),
        formTitle () {
            return this.editedIndex === -1 ? 'New Client' : 'Edit Client'
        },
        formStatus () {
            return this.editedIndex === -1 ? 'Create' : 'Save'
        }
    },
     watch: {
      dialog (val) {
        val || this.close()
      }
    },
    methods:{
        editItem (item) {
        this.editedIndex = this.clients[item]
        this.editedItem = Object.assign({}, item)
        this.dialog = true
        },
        deleteItem (id) {
            confirm('Are you sure you want to delete this client?') && fb.clientsCollection.doc(id).delete();
        },
        close () {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
                this.clearForm();
                this.dialog = false;
        },
        clearForm(){
                this.editedItem.name = '';
                this.editedItem.website = '';
                this.editedItem.phone = '';
                this.editedItem.contactperson = '';
                this.editedItem.contactphone = '';
                this.editedItem.contactemail = '';
                this.$refs.address.clear();
        },
        saveClient: function(){
            console.log(this.address);
            console.log(this.editedItem);
            fb.clientsCollection.doc(this.editedItem.name).update({
                name: this.editedItem.name,
                website: this.editedItem.website,
                phone: this.editedItem.phone,
                contactperson: this.editedItem.contactperson,
                contactphone: this.editedItem.contactphone,
                contactemail: this.editedItem.contactemail,
                coords: new firebase.firestore.GeoPoint(this.editedItem.coords.latitude, this.editedItem.coords.longitude)
            }).then( ref =>{
                this.clearForm();
                this.dialog = false;
            }).catch(err => {
                console.log(err)
            })
        },
        createClient: function(e){
            fb.clientsCollection.doc(this.editedItem.name).set({
                createdOn: new Date(),
                name: this.editedItem.name,
                website: this.editedItem.website,
                phone: this.editedItem.phone,
                contactperson: this.editedItem.contactperson,
                contactphone: this.editedItem.contactphone,
                contactemail: this.editedItem.contactemail,
                coords: new firebase.firestore.GeoPoint(this.address.latitude, this.address.longitude)
            }).then(ref => {
                this.clearForm();
                this.dialog = false;
            }).catch(err => {
                console.log(err)
            })
        },
        getAddressData: function (addressData, placeResultData, id) {
            this.address = addressData;
        }
    }
}
</script>

<style scoped>

</style>