<template>
<v-content>
    <client-table/>
</v-content>
        
</template>

<script>
import clientTable from '@/components/clients/clientTable'
    export default {
        name: 'clientOverview',
        components:{
            'client-table': clientTable
        },
        data() {
            return {
            }
        },
    }
</script>