<template>
  <v-content>
      <v-container>
      <v-layout>
        <v-flex>
    <v-toolbar flat color="white">
      <v-toolbar-title>Accounts</v-toolbar-title>
      <v-divider class="mx-2" inset vertical></v-divider>
            <v-spacer></v-spacer>
            <v-text-field
        v-model="search" append-icon="search" label="Search" hide-details></v-text-field>
            <v-spacer></v-spacer>
      <v-dialog v-model="dialog" max-width="700px">
        <v-btn slot="activator" color="primary" dark class="mb-2">Add Account</v-btn>
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12>
                  <v-form @submit.prevent>
                    <v-text-field prepend-icon="domain" v-model="editedItem.name" label="account"></v-text-field>
                    <v-text-field prepend-icon="person" v-model="editedItem.username" label="username"></v-text-field>
                    <v-text-field prepend-icon="lock" v-model="editedItem.password" label="password"></v-text-field>
                    <v-textarea prepend-icon="note" v-model="editedItem.notes" label="notes" box></v-textarea>
                  </v-form>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="red" flat @click="close">Cancel</v-btn>
            <v-btn color="teal darken-3" flat @click="addAccount" v-if="formStatus=='Create'">Add</v-btn>
            <v-btn color="teal darken-3" flat @click="saveAccount" v-if="formStatus=='Save'">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <v-data-table hide-actions :items="Object.values(accounts)" :headers="headers" :search="search" class="elevation-1" :loading="false" id="accounttable">
        <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
        <template slot="items" slot-scope="props">
            <tr @click="props.expanded = !props.expanded" >
            <td class="text-xs-left">{{ props.item.name }}</td>
            <td class="text-xs-left">{{ props.item.username }}</td>
            <td class="text-xs-left">{{ props.item.password }}</td>
            <td class="justify-center layout px-0">
                        <v-menu bottom left>
                <v-btn slot="activator" icon>
                <v-icon>more_vert</v-icon>
                </v-btn>
                <v-list>
                <v-list-tile>
                    <v-list-tile-title @click="editAccount(props.item)">
                    <v-icon small class="mr-2" >edit</v-icon>
                    Edit
                    </v-list-tile-title>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-title @click="deleteAccount(props.item.name)">
                        <v-icon small>delete</v-icon>
                        Delete
                    </v-list-tile-title>
                </v-list-tile>
                </v-list>
 
            </v-menu>
            </td>
            </tr>
        </template>
            <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
import { mapState } from 'vuex'

const fb = require('@/firebaseConfig.js')
    export default {
     name: 'addAccount',
    data() {
        return {
            dialog: false,
            model: null,
            timeout: 5000,
            editedIndex: -1,
            search: '',
            show: false,
            domainalias: '',
            editedItem: {
                name: '',
                username: '',
                password: '',
                notes: '',
            },
            defaultItem: {
                name: '',
                username: '',
                password: '',
                notes: '',
            },  
            headers: [
                { text: 'Account',align: 'left',sortable: true, value: 'name'},
                { text: 'username',align: 'left',sortable: false, value: 'username'},
                { text: 'password',align: 'left',sortable: false, value: 'password'},
                { text: 'Actions',align: 'center', sortable: false }
            ],        
        }
    },
    computed: {
        ...mapState(["accounts"]),
        formTitle () {
            return this.editedIndex === -1 ? 'New Account' : 'Edit Account'
        },
        formStatus () {
            return this.editedIndex === -1 ? 'Create' : 'Save'
        }
    },
     watch: {
        dialog (val) {
            val || this.close()
        }
    },
    methods:{
        editAccount (item) {
            this.editedIndex = this.accounts[item.project];
            this.editedItem = Object.assign({}, item)
            this.dialog = true            
        },
        deleteAccount (id) {
            confirm('Are you sure you want to delete this client?') && fb.accountsCollection.doc(id).delete();
        },
        close () {
            this.dialog = false
            setTimeout(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
                this.clearForm();
            }, 300)
        },
        clearForm(){
            this.editedItem.name = '';
            this.editedItem.username = '';
            this.editedItem.password = '';
            this.editedItem.notes = '';

        },
        saveAccount: function(){
            fb.accountsCollection.doc(this.editedItem.name).update({
                name: this.editedItem.name,
                username: this.editedItem.username,
                password: this.editedItem.password,
                notes: this.editedItem.notes
            }).then( ref =>{
                this.clearForm();
                this.dialog = false;
            })
        },
        addAccount: function(){
            fb.accountsCollection.doc(this.editedItem.name).set({
                createdOn: new Date(),
                name: this.editedItem.name,
                username: this.editedItem.username,
                password: this.editedItem.password,
                notes: this.editedItem.notes
            }).then(ref => {
                this.clearForm();
                this.dialog = false;
            }).catch(err => {
                console.log(err)
            })
        }
    }        
    }
</script>

<style scoped>

</style>