<template>
<account-table/>

</template>

<script>
import accountTable from '@/components/OnlineAccounts/accountTable'
export default {
    components:{
        'account-table' : accountTable
    },

}
</script>

<style scoped>

</style>