<template>
    <v-content>
      <v-container grid-list-xl class="pb0">
        <v-layout row wrap>
          <v-flex xs4>
            <v-card dark>
              <v-card-title primary-title>
                <p class="headline">TODO: add brief overview of all accounts</p>
              </v-card-title>

            </v-card>
          </v-flex>

          </v-layout>
        </v-container>
    </v-content>
</template>

<script>
import websiteCount from '@/components/websites/websiteCount'
import clientCount from '@/components/clients/clientCount'

export default {
  name: 'Home',
    components:{
        'website-count' : websiteCount,
        'client-count' : clientCount
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
