<template>
<div id="app" v-if="currentUser">
    <v-navigation-drawer fixed clipped dark v-model="drawer" app >
      <v-list>
        <v-list-tile class="mt-3">
          <v-btn to="/" block flat exact>
          <v-list-tile-action>
            <v-icon>home</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Home</v-list-tile-title>
          </v-btn>
        </v-list-tile>
                <v-subheader class="mt-2">MISC</v-subheader>

        <v-list-tile class="mt-1 mb-2">
          <v-btn to="/my-accounts" block flat>
          <v-list-tile-action>
            <v-icon>note</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>my accounts</v-list-tile-title>
          </v-btn>
        </v-list-tile>
        <v-divider/>

        <v-subheader class="mt-2">WEBSITES</v-subheader>
        <v-list-tile class="mt-1 mb-2">
          <v-btn to="/websites" block flat>
          <v-list-tile-action>
            <v-icon>dashboard</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Websites</v-list-tile-title>
          </v-btn>
        </v-list-tile>
        <v-divider/>
        <v-subheader class="mt-2">CLIENTS</v-subheader>
        <v-list-tile class="mt-1">
          <v-btn to="/clients" block flat>
          <v-list-tile-action>
            <v-icon>person</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Clients</v-list-tile-title>
          </v-btn>
        </v-list-tile>
      </v-list>
      <v-list class="adminlist">
        <v-divider/>
        <v-list-tile class="mt-1">
          <v-btn to="/admin" block flat>
          <v-list-tile-action>
            <v-icon>settings</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>admin</v-list-tile-title>
          </v-btn>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar dense fixed clipped-left app dark >
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-icon class="mx-3">fa-youtube</v-icon>
      <v-toolbar-title class="mr-5 align-center">
        <span class="title">Web Management</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
   <v-tooltip left>
      <v-icon slot="activator" @click="logout">exit_to_app</v-icon>
      <span>Logout</span>
    </v-tooltip>
    </v-toolbar>
</div>

</template>

<script>
const fb = require("@/firebaseConfig.js");
import { mapState, mapMutations } from "vuex";

export default {
  name: 'Navigation',
  data () {
    return {   
      drawer: true,
    }
  },
  methods:{
    logout: function() {
      fb.auth
        .signOut()
        .then(() => {
          this.$store.dispatch("clearData");
          this.$router.push("user/login");
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  computed: {
    ...mapState(["currentUser"])
  }
}
</script>

<style>
.v-navigation-drawer .v-btn--active:before{
  background-color: transparent !important;
}
.theme--dark .v-btn{
  color: #dedede;
}
.theme--dark .v-subheader{
  color:#bdbdbdb3
}
.v-navigation-drawer .v-btn--active .v-btn__content{
  color: #00c5c5;
  font-weight: bold;
}
.adminlist{
  position: absolute;
  bottom:0;
  width: 100%;
}



</style>
