<template>
<v-content>
    <eblast-overview/>
</v-content>
</template>

<script>
import Overview from '@/components/Eblast/Overview'
    export default {
        name: 'EblastOverview',
        components:{
            'eblast-overview': Overview
        },
    }
</script>

<style scoped>

</style>