<template>
       <v-container>
      <v-layout>
        <v-flex>
            <h1>AWAITING API FEATURE</h1>
        </v-flex>
      </v-layout>
       </v-container>
</template>

<script>
import axios from 'axios';
import createsend from 'createsend-node';

export default {
    data() {
        return {
        posts: [],
        errors: []
        }
    },
    created() {
        this.initCampaignMonitor()
    },
    methods:{
        initCampaignMonitor: function(){
            var auth = { apiKey: 'xxxxxxxxxxxxxxxxxxxxx' };
            var api = new createsend(auth);

            // api.client.setMonthlyBilling(
            //     function (billingDetails, callback) {
            //         console.log(billingDetails);
            //     }
            // );

            console.log(api.account.createsend);
            // axios.get('https://api.createsend.com/api/v3.2/clients.json', {method: 'get'}, {auth:{username: '892b12c34cc71753acd9e6850870a4f3', password: 'x'}})
            // .then(response => {
            // // JSON responses are automatically parsed.
            // this.posts = response.data
            // })
            // .catch(e => {
            // this.errors.push(e)
            // })
        }
    }
}
</script>

<style scoped>

</style>