<template>
  <div id="app">
    <v-app id="inspire">
      <navigation/>
        <transition-page>
          <router-view />
        </transition-page>
    </v-app>
  </div>

</template>

<script>
import TransitionPage from './transitions/TransitionPage.vue';

  import Navigation from '@/components/Navigation.vue'
  export default {
    name: 'App',
    components: {
      Navigation,
      TransitionPage
    },
    data() {
      return {
        drawer: true,
      }
    }
  }

</script>

<style>
  #app {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-align: center; */
  }

</style>
<style src="./styles/main.scss" lang="scss"></style>